name: Automated Tests

on: [pull_request]

jobs:
  jest:
    name: Jest Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # https://github.com/marketplace/actions/checkout

      - uses: actions/setup-node@v4 # https://github.com/marketplace/actions/setup-node-js-environment
        with:
          node-version: "v18.20.4"

      - run: npm ci #Poderia ser npm install. Mas utilizamos o package-lock.json ao rodar, para não trazer complicações com versões diferentes das dependências que podem se atualizar

      - run: npm test
